# Enable Java 21 language features
build --java_runtime_version=21
build --java_language_version=21
build --tool_java_language_version=21
build --tool_java_runtime_version=21


run:repl src/main/java/net/starlark/java/cmd:starlark
build:starlark src/main/java/net/starlark/java/cmd:starlark_deploy.jar
test:starlark --test_verbose_timeout_warnings --test_summary=detailed --cache_test_results=false src/test/java/net/starlark/...
